extends ../core/layout

append variables
    - const title = 'Счётчик калорий | HTML Academy'

block main
    main
        form.cc-form(data-cc-form="form")
            header.cc-form__header
                hgroup.cc-form__title-box
                    h1.cc-form__title Счётчик калорий
                    p.cc-form__title-desc Расчёт суточной нормы потребления калорий в зависимости от индивидуальных параметров

            .cc-form__section.cc-form__wrapp
                fieldset.cc-form__fieldset
                    legend.cc-form__fieldset-title Пол
                    +cc-form-switch()

                fieldset.cc-form__fieldset
                    legend.cc-form__fieldset-title Параметры
                    +cc-form-params({
                        params: [
                            {id: 'age', name: 'Возраст', unit: 'лет', minmax: [1, 3]},
                            {id: 'height', name: 'Рост', unit: 'см', minmax: [3, 3]},
                            {id: 'weight', name: 'Вес', unit: 'кг', minmax: [2, 3]},
                        ]
                    })

                fieldset.cc-form__fieldset
                    legend.cc-form__fieldset-title Физическая активность
                    +cc-form-options({
                        options: [
                            {value: 'fa-minimal', coeff: '1.2', name: 'Минимальная', descr: 'Сидячая работа и нет физических нагрузок'},
                            {value: 'fa-low', coeff: '1.375', name: 'Низкая', descr: 'Редкие, нерегулярные тренировки, активность в быту'},
                            {value: 'fa-medium', coeff: '1.55', name: 'Средняя', descr: 'Тренировки 3-5 раз в неделю'},
                            {value: 'fa-high', coeff: '1.725', name: 'Высокая', descr: 'Тренировки 6-7 раз в неделю'},
                            {value: 'fa-very-high', coeff: '1.9', name: 'Очень высокая', descr: 'Больше 6 тренировок в неделю и физическая работа'},
                        ]
                    })

                .cc-form__actions
                    button.cc-form__action-btn(
                        type="submit"
                        aria-label="Рассчитать суточную норму калорий"
                        disabled
                        data-cc-form="action"
                    ) Рассчитать

                    button.cc-form__action-btn(
                        type="reset"
                        title="Очистить поля формы и расчитанные значения"
                        aria-label="Очистить поля формы и расчитанные значения"
                        disabled
                        data-cc-form="action"
                    ) Сбросить

            footer.cc-form__section.cc-form__footer(data-cc-form="output")
                h2.cc-form__footer-title Ваша норма калорий

                .cc-form__footer-output-list
                    output.cc-form__output(data-output="weight-save")
                        strong.cc-form__output-value #[span(data-output-val) 0000] ккал
                        span.cc-form__output-descr поддержание веса

                    output.cc-form__output(data-output="weight-loss")
                        strong.cc-form__output-value #[span(data-output-val) 0000] ккал
                        span.cc-form__output-descr снижение веса

                    output.cc-form__output(data-output="weight-gain")
                        strong.cc-form__output-value #[span(data-output-val) 0000] ккал
                        span.cc-form__output-descr набор веса
