mixin cc-form-params(data = {})
    .cc-form-params&attributes(attributes)
        each param in data.params
            label.cc-form-params__param
                strong.cc-form-params__param-name= `${param.name},`
                    small.cc-form-params__param-name-unit= param.unit
                
                input.cc-form-params__input(
                    type="text"
                    inputmode="decimal"
                    name=`cc-form-param:${param.id}`
                    minlength=param.minmax[0]
                    maxlength=param.minmax[1]
                    placeholder="0"
                    required
                )